<!doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>P L A V U E</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="static/images/icon/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css')}}">

    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/jquery.dataTables.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/dataTables.bootstrap4.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/responsive.bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/responsive.jqueryui.min.css')}}">

    <!-- others css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default-css.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
    <!-- modernizr css -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

    <!-- select2 css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/select2.css')}}">
</head>
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="../inicio"><img src="static/images/icon/logo3.png" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li><a href="../perfilusuario"><i class="ti-user"></i> <span>Perfil - Usuario final</span></a></li>
                        <li><a href="../itinerario"><i class="ti-calendar"></i> <span>Itinerario</span></a>
                            <ul><li><a href="../reservausuario"><i class="ti-ticket"></i> <span>Reserva</span></a></li></ul>
                        </li> 
                        <li class="active"><a href="../calificacionvuelosusuario"><i class="ti-star"></i> <span>Mis vuelos</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="static/images/icon/usuarioFinal.jpg" alt="avatar">
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{perfil[6]}}<i class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../perfilusuario">Perfil</a>
                            <a class="dropdown-item" href="../">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <div class="breadcrumbs-area clearfix">
                        <ul class="breadcrumbs pull-left">
                            <li><a href="../perfilusuario">P L A V U E</a></li>
                            <li><span>Calificación de vuelos</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="main-content-inner">
            <div class="row">
                <div class="col-12 m-5">
                    <div class="card mt-4">
                        <div class="card-body">

                            <h4 class="header-title" align="center" >Mis vuelos</h4>
                                <section class="panel">

                            <div class="panel-body">
                                <table class="table table-bordered table-striped mb-none" id="datatable-comentarios">
                                    <thead>
                                        <tr>                                            
                                            <th>Numero de Reserva</th>
                                            <th>Origen</th>
                                            <th>Destino</th>
                                            <th>Estado del vuelo</th>
                                            <th>Hora Salida</th>
                                            <th>fecha</th>
                                            <th>Calificación</th>
                                            <th>Editar calificacion</th>
                                            <th style="display: none;">Código del vuelo</th>
                                            <th style="display: none;">Piloto</th>
                                            <th style="display: none;">Comentarios</th>
                                            <th style="display: none;">Editar Comentario</th>                                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in pasajeros %}
                                            <tr>
                                                <td>
                                                    {% if r["Id_usuario"] == Id_usuario %}
                                                        {{r ['Id_pasajero']}} 
                                                    {% endif %} 
                                                </td>                                               
                                                <td>
                                                    {% for c in ciudad %}
                                                        {% for d in vuelos%}
                                                            {% if r["Id_vuelos"] == d ["Id_vuelo"]%}
                                                                {% if c["Id_ciudad"] == d["origen"] %}
                                                                <span>{{c["Ciudad"]}}</span>
                                                            {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for c in ciudad %}
                                                        {% for d in vuelos%}
                                                            {% if r["Id_vuelos"] == d ["Id_vuelo"]%}
                                                                {% if c["Id_ciudad"] == d["destino"] %}
                                                                <span>{{c["Ciudad"]}}</span>
                                                            {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for i in vuelos %}
                                                        {% if r["Id_vuelos"] == i ["Id_vuelo"]%}
                                                            <span>{{i["estado"]}}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for j in vuelos %}
                                                        {% if r["Id_vuelos"] == j ["Id_vuelo"]%}
                                                            <span>{{j["horaSalida"]}}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for k in vuelos %}
                                                        {% if r["Id_vuelos"] == k ["Id_vuelo"]%}
                                                            <span>{{k["fecha"]}}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                        
                                                <td> 
                                                    {% if r["Id_usuario"] == Id_usuario %}
                                                        <span>{{ r ["Calificacion"]}}</span>                                                        
                                                    {% endif %} 
                                                </td>                                               
                                                <td>
                                                    <a href="../calificacioneditar/{{r['Id_pasajero']}}">Editar<i class="fa fa-edit"></i></a><br>
                                                    <a href="../caleliminar/{{r['Id_pasajero']}}">Eliminar<i class="ti-trash"></i></a>
                                                </td>
                                                <td style="display: none;"> {{ r ["Id_vuelos"] }} </td>
                                                <td style="display: none;">
                                                    {% for k in vuelos %}
                                                        {% if r["Id_vuelos"] == k ["Id_vuelo"]%}
                                                        <span>{{k["piloto"]}}</span>
                                                    {% endif %}
                                                    {% endfor %}
                                                </td> 
                                                <td style="display: none;">
                                                    {% if r["Id_usuario"] == Id_usuario %}
                                                        {{r["Comentarios"]}}
                                                    {% endif %}
                                                </td>                                                                                               
                                                <td style="display: none;">
                                                    <a href="../comentarioeditar/{{r['Id_pasajero']}}">Editar<i class="fa fa-edit"></i></a> <br> 
                                                    <a href="../comeliminar/{{r['Id_pasajero']}}">Eliminar<i class="ti-trash"></i></a>                                                   
                                                </td>                                               
                                            </tr>
                                        {% endfor %}
                                        </form>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<!-- jquery latest version -->
<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
<!-- bootstrap 4 js -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.slicknav.min.js') }}"></script>

<!-- Start datatable js -->
<script src="{{ url_for('static', filename='js/tables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/responsive.bootstrap.min.js') }}"></script>

<!-- select2 js -->
<script src="{{ url_for('static', filename='js/vendor/select2.js') }}"></script>
<!-- Examples -->
<script src="{{ url_for('static', filename='js/tables/examples.datatables.row.with.details.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/examples.datatables.tabletools.js') }}"></script>

<!--bd itinerario-->
<script src="{{ url_for('static', filename='js/con_db_agendaVuelos.js') }}"></script>

<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- start zingchart js -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<!-- all line chart activation -->
<script src="{{ url_for('static', filename='js/line-chart.js') }}"></script>
<!-- all pie chart -->
<script src="{{ url_for('static', filename='js/pie-chart.js') }}"></script>
<!-- others plugins -->
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>