<!doctype html>
<html class="no-js" lang="es">

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>P L A V U E</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
    
        <!-- amchart css -->
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <!-- Start datatable css -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='images/icon/logo3.png') }}"> -->
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/jquery.dataTables.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/responsive.bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/responsive.jqueryui.min.css') }}">
        <!-- others css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default-css.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
        <!-- modernizr css -->
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    
        <!-- select2 css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/select2.css') }}">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="static/images/icon/logo3.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li><a href="../perfiladmin" aria-expanded="true"><i class="ti-user"></i><span>Perfil - Superadmin</span></a></li>
                            <li><a href="../GestionPilotos" aria-expanded="true"><i class="ti-view-list-alt"></i><span>Gestión de Pilotos</span></a></li>
                            <li class="active"><a href="../GestionUsuarios" aria-expanded="true"><i class="ti-user"></i><span>Gestión de usuarios</span></a></li>
                            <li><a href="../GestionVuelos" aria-expanded="true"><i class="ti-view-list-alt"></i><span>Gestión de Vuelos</span></a></li>
                            <li><a href="../GestionComentarios" aria-expanded="true"><i class="ti-view-list-alt"></i><span>Gestión de Comentarios</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="static/images/icon/admin.jpg" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{perfil[6]}}<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../perfiladmin">Perfil</a>
                                <a class="dropdown-item" href="../">Cerrar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <div class="breadcrumbs-area clearfix">
                            <ul class="breadcrumbs pull-left">
                                <li><a href="../perfiladmin">P L A V U E</a></li>
                                <li><span>Gestión de Usuarios</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- page title area end -->
            <div class="body main-content-inner">
                <div class="row">
                    <!-- Primary table start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title" align="center">Información de Usuarios</h4>
                                <section class="panel">
                                    <div class="panel-body">
                                        <table class="table table-bordered table-striped mb-none" id="datatable-gestionusuarios" data-swf-path="static/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                                            <thead>
                                                <tr>
                                                    <th>Documento</th>
                                                    <th>Nombre</th>
                                                    <th>Teléfono</th>
                                                    <th>Correo</th>
                                                    <th>Acción</th>  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for r in tabla %}
                                                <tr class="gradeX">
                                                    <td>{{ r ['Documento'] }}</td>
                                                    <td>{{ r ['Nombre'] }}</td>
                                                    <td>{{ r ['Celular']}}</td>
                                                    <td class="center">{{ r ['Correo' ]}}</td>
                                                    <td class="center"><div ><a href="../EditarUsuario/{{r ['Correo']}}"><i
                                                        class="fa fa-pencil-square"></i>Editar</a></div></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- Primary table end -->
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2021. MisiónTIC 2022 - AEROPUERTO TRES DE MAYO.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- jquery latest version -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src=" {{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
    <!-- Start datatable js -->
    <script src="{{ url_for('static', filename='js/tables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/jquery.dataTables.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/tables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/responsive.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/examples.datatables.row.with.details.js') }}"></script>
    
    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{{ url_for('static', filename='js/line-chart.js') }}"></script>
    <!-- all pie chart -->
    <script src="{{ url_for('static', filename='js/pie-chart.js') }}"></script>
    <!-- others plugins -->
    <script src=" {{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
    </div>
    </div>
</body>

</html>