<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>P L A V U E</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="static/images/icon/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css')}}">

    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/jquery.dataTables.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/dataTables.bootstrap4.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/responsive.bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/responsive.jqueryui.min.css')}}">

    <!-- others css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default-css.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
    <!-- modernizr css -->
    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

    <!-- select2 css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/select2.css')}}">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a><img src="static/images/icon/logo3.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active"><a href="../perfilusuario"><i class="ti-user"></i> <span>Perfil</span></a></li>
                            <li><a href="../itinerario"><i class="ti-calendar"></i> <span>Itinerario</span></a></li>
                            <li><a href="../reservausuario"><i class="ti-ticket"></i> <span>Reserva</span></a></li>
                            <li><a href="calificacionvuelosusuario"><i class="ti-star"></i> <span>Calificación de vuelos</span></a></li>
                            <li><a href="../comentariosusuario"><i class="ti-comment"></i> <span>Comentarios</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="static/images/icon/descarga.jpg" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Alejandra Urango<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../perfilusuario">Perfil</a>
                                <a class="dropdown-item" href="../">Cerrar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <div class="breadcrumbs-area clearfix">
                            <ul class="breadcrumbs pull-left">
                                <li><a href="../perfilusuario">P L A V U E</a></li>
                                <li><span>Calificación de vuelos</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="row">
                    <div class="col-md-6 col-lg-2 mt-4"><!-- foto de usuario -->
                        <div class="panel-body">
                            <div class="thumb-info mb-md">
                                <img src="static/images/icon/descarga.jpg" class="rounded img-responsive" alt="Foto del usuario">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-10 mt-4"><!-- Tab para formularios -->
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="perfil-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="perfil" aria-selected="true">Perfil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contraseña-tab" data-toggle="tab" href="#contraseña" role="tab" aria-controls="contraseña" aria-selected="false">Cambiar Contraseña</a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-3" id="myTabContent">
                                    <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
                                        <h3 class="header-title" align="center">Información Personal</h3>
                                        <br>

                                        <form class="needs-validation" name="form_perfil" action="/actualizarperfil" id="form_perfil" enctype="multipart/form-data" method="POST" onsubmit="return validarperfil()">

                                            <div class="form-row">
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtdocumento">Id Usuario / Documento <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtdocumento" id="txtdocumento" value="" required>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="listtipodocumento">Tipo de Documento <span style="color: red;">*</span></label>
                                                    <select class="form-control form-control-sm" name="listtipodocumento" id="listtipodocumento">
                                                        <option value="1" selected="selected">Cédula de Ciudadanía</option>
                                                        <option value="2">Tarjeta de Identidad</option>
                                                        <option value="3">Cédula de Extranjería</option>
                                                        <option value="4">Pasaporte</option>
                                                        <option value="5">Documento Nacional de Identificación</option>
                                                        <option value="6">Número de IDentificación Tributaría</option>
                                                        <option value="7">PEP</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="listperfil">Perfil <span style="color: red;">*</span></label>
                                                    <select data-plugin-selectTwo class="form-control form-control-sm" name="listperfil" id="listperfil">
                                                        <option value="1" selected="selected">Superadministrador</option>
                                                        <option value="2">Piloto</option>
                                                        <option value="3">Usuario</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="listestado">Estado <span style="color: red;">*</span></label>
                                                    <select data-plugin-selectTwo class="form-control form-control-sm" name="listestado" id="listestado">
                                                        <option value="1" selected="selected">Activo</option>
                                                        <option value="2">Desactivado</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtprimernombre">Primer Nombre <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtprimernombre" id="txtprimernombre" value="" required>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtsegundonombre">Segundo Nombre <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtsegundonombre" id="txtsegundonombre" value="" required>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtprimerapellido">Primer Apellido <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtprimerapellido" id="txtprimerapellido" value="" required>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtsegundoapellido">Segundo Apellido <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtsegundoapellido" id="txtsegundoapellido" value="" required>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtfechanacimiento">Fecha de Nacimiento <span style="color: red;">*</span></label>
                                                    <input type="date" class="form-control form-control-sm" name="txtfechanacimiento" id="txtfechanacimiento" language="es" data-plugin-datepicker value="" required>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="listsexo">Sexo <span style="color: red;">*</span></label>
                                                    <select id="buscador4" class="form-control form-control-sm" name="listsexo" id="listsexo">
                                                        <option value="1" selected="selected">Femenino</option>
                                                        <option value="2">Masculino</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtcelular">Celular <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtcelular"id="txtcelular" value="" maxlength="10" required>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txttelefono">Télefono</label>
                                                    <input type="text" class="form-control form-control-sm" name="txttelefono"id="txttelefono" value="" maxlength="7">
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <br>
                                                    <label for="listciudad">Ciudad <span style="color: red;">*</span></label>
                                                    <select class="form-control form-control-sm" name="listciudad" id="listciudad">
                                                        <option value="188" selected="selected">Afganistán</option>
                                                        <option value="355">Alabania</option>
                                                        <option value="49">Alemania</option>
                                                        <option value="376">Andorra</option>
                                                        <option value="244">Angola</option>
                                                        <option value="6">Anguilla</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <br>
                                                    <label for="txtdireccion">Dirección <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtdireccion"id="txtdireccion" value="" maxlength="100" required>
                                                </div>
                                                <div class="col-md-4">
                                                    <br>
                                                    <label for="txtcorreo">Correo <span style="color: red;">*</span></label>
                                                    <input type="email" class="form-control form-control-sm" name="txtcorreo"id="txtcorreo" value="" maxlength="100" required>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <br>
                                                    <label for="listnacionalidad">Nacionalidad <span style="color: red;">*</span></label>
                                                    <select class="form-control form-control-sm" name="listnacionalidad" id="listnacionalidad">
                                                        <option value="188" selected="selected">Afganistán</option>
                                                        <option value="355">Albania</option>
                                                        <option value="49">Alemania</option>
                                                        <option value="376">Andorra</option>
                                                        <option value="244">Angola</option>
                                                        <option value="6">Anguilla</option>
                                                        <option value="127">Antártida</option>
                                                        <option value="8">Antigua y Barbuda</option>
                                                        <option value="599">Antillas Holandesas</option>
                                                        <option value="966">Arabia Saudita</option>
                                                        <option value="213">Argelia</option>
                                                        <option value="54">Argentina</option>
                                                        <option value="374">Armenia</option>
                                                        <option value="297">Aruba</option>
                                                        <option value="61">Australia</option>
                                                        <option value="43">Austria</option>
                                                        <option value="17">Azerbaiyán</option>
                                                        <option value="18">Bahamas</option>
                                                        <option value="973">Bahrein</option>
                                                        <option value="880">Bangladesh</option>
                                                        <option value="21">Barbados</option>
                                                        <option value="32">Bélgica</option>
                                                        <option value="501">Belice</option>
                                                        <option value="229">Benín</option>
                                                        <option value="25">BermudasS</option>
                                                        <option value="975">Bhután</option>
                                                        <option value="27">Bielorrusia (Belarus)</option>
                                                        <option value="95">Birmania (Myanmar)</option>
                                                        <option value="591">Bolivia</option>
                                                        <option value="387">Bosnia y Herzegovina</option>
                                                        <option value="267">Botswana</option>
                                                        <option value="55">Brasil</option>
                                                        <option value="673">Brunei</option>
                                                        <option value="359">Bulgaria</option>
                                                        <option value="226">Burkina Faso</option>
                                                        <option value="257">Burundi</option>
                                                        <option value="238">Cabo Verde</option>
                                                        <option value="855">Camboya</option>
                                                        <option value="237">Camerún</option>
                                                        <option value="1">Canadá</option>
                                                        <option value="235">Chad</option>
                                                        <option value="56">Chile</option>
                                                        <option value="86">China</option>
                                                        <option value="357">Chipre</option>
                                                        <option value="44">Ciudad Estado Del Vaticano (Santa Sede)</option>
                                                        <option value="57">Colombia</option>
                                                        <option value="166">Comores (Comoro)</option>
                                                        <option value="242">Congo</option>
                                                        <option value="850">Corea Del Norte</option>
                                                        <option value="82">Corea Del Sur</option>
                                                        <option value="225">Costa Del Marfil</option>
                                                        <option value="506">Costa Rica</option>
                                                        <option value="385">Croacia (Hrvatska)</option>
                                                        <option value="53">Cuba</option>
                                                        <option value="45">Dinamarca</option>
                                                        <option value="253">Djibouri</option>
                                                        <option value="208">Dominica</option>
                                                        <option value="593">Ecuador</option>
                                                        <option value="20">Egipto</option>
                                                        <option value="503">El Salvador</option>
                                                        <option value="96">Eritrea</option>
                                                        <option value="421">Eslovaquia</option>
                                                        <option value="386">Eslovenia</option>
                                                        <option value="34">España</option>
                                                        <option value="147">Estados Unidos</option>
                                                        <option value="372">Estonia</option>
                                                        <option value="251">Etiopía</option>
                                                        <option value="69">Exrepública Yugoslava De Macedonnia</option>
                                                        <option value="63">Filipinas</option>
                                                        <option value="358">Finlandia</option>
                                                        <option value="33">Francia</option>
                                                        <option value="241">Gabón</option>
                                                        <option value="220">Gambia</option>
                                                        <option value="995">Georgia</option>
                                                        <option value="76">Georgia Del Sur y Las Islas Sandwich Del Sur</option>
                                                        <option value="233">Ghana</option>
                                                        <option value="350">Gibraltar</option>
                                                        <option value="79">Granada</option>
                                                        <option value="30">Grecia</option>
                                                        <option value="299">Groenlandia</option>
                                                        <option value="590">Guadalupe</option>
                                                        <option value="83">Guam</option>
                                                        <option value="502">Guatemala</option>
                                                        <option value="85">Guayana</option>
                                                        <option value="594">Guayana Francesa</option>
                                                        <option value="224">Guinea</option>
                                                        <option value="245">Guinea Bissau</option>
                                                        <option value="240">Guinea Ecuatorial</option>
                                                        <option value="509">Haití</option>
                                                        <option value="31">Holanda</option>
                                                        <option value="504">Honduras</option>
                                                        <option value="852">Hong Kong R.A.E.</option>
                                                        <option value="36">Hungría</option>
                                                        <option value="91">India</option>
                                                        <option value="62">Indonesia</option>
                                                        <option value="964">Irak</option>
                                                        <option value="98">Irán</option>
                                                        <option value="353">Irlanda</option>
                                                        <option value="100">Isla De Bouvet</option>
                                                        <option value="101">Isla De Christmas</option>
                                                        <option value="102">Isla Heard e Islas Mcdonald</option>
                                                        <option value="103">Isla Norfolk</option>
                                                        <option value="104">Isla Pitcairn</option>
                                                        <option value="354">Islandia</option>
                                                        <option value="106">Islas Caimán</option>
                                                        <option value="107">Islas Cook</option>
                                                        <option value="108">Islas De Cocos o De Keeling</option>
                                                        <option value="109">Islas De Faroe</option>
                                                        <option value="110">Islas Fiyi (Fiji)</option>
                                                        <option value="111">Islas Malvinas (Islas Falkland)</option>
                                                        <option value="112">Islas Marianas Del Norte</option>
                                                        <option value="113">Islas Marshall</option>
                                                        <option value="114">Islas Menores De Estados Unidos</option>
                                                        <option value="115">Islas Palau</option>
                                                        <option value="116">Islas Salamón</option>
                                                        <option value="117">Islas Tokelau</option>
                                                        <option value="118">Islas Turks y Caicos</option>
                                                        <option value="119">Islas Vírgenes (Estados Unidos)</option>
                                                        <option value="120">Islas Vírgenes (Reino Unido)</option>
                                                        <option value="972">Israel</option>
                                                        <option value="39">Italia</option>
                                                        <option value="123">Jamaica</option>
                                                        <option value="81">Japón</option>
                                                        <option value="962">Jordania</option>
                                                        <option value="7">Kazajstán</option>
                                                        <option value="254">Kenia</option>
                                                        <option value="996">Kirguizistán</option>
                                                        <option value="686">Kiribati</option>
                                                        <option value="965">Kuwait</option>
                                                        <option value="856">Laos</option>
                                                        <option value="266">Lesotho</option>
                                                        <option value="371">Letonia</option>
                                                        <option value="961">Líbano</option>
                                                        <option value="231">Liberia</option>
                                                        <option value="218">Libia</option>
                                                        <option value="137">Liechtenstein</option>
                                                        <option value="370">Lituania</option>
                                                        <option value="352">Luxemburgo</option>
                                                        <option value="853">Macao R.A.E.</option>
                                                        <option value="261">Madagascar</option>
                                                        <option value="60">Malasia</option>
                                                        <option value="265">Malawi</option>
                                                        <option value="960">Maldivas</option>
                                                        <option value="223">Malí</option>
                                                        <option value="356">Malta</option>
                                                        <option value="212">Marruecos</option>
                                                        <option value="596">Martinica</option>
                                                        <option value="230">Mauricio</option>
                                                        <option value="222">Mauritania</option>
                                                        <option value="269">Mayotte</option>
                                                        <option value="52">México</option>
                                                        <option value="691">Micronesia</option>
                                                        <option value="373">Moldavia</option>
                                                        <option value="377">Mónaco</option>
                                                        <option value="976">Mongolia</option>
                                                        <option value="157">Montserrat</option>
                                                        <option value="258">Mozambique</option>
                                                        <option value="264">Namibia</option>
                                                        <option value="674">Naurú</option>
                                                        <option value="977">Nepal</option>
                                                        <option value="505">Nicaragua</option>
                                                        <option value="227">Níger</option>
                                                        <option value="234">Nigeria</option>
                                                        <option value="165">Niue</option>
                                                        <option value="47">Noruega</option>
                                                        <option value="687">Nueva Caledonia</option>
                                                        <option value="64">Nueva Zelanda</option>
                                                        <option value="968">Omán</option>
                                                        <option value="92">Pakistán (Paquistán)</option>
                                                        <option value="507">Panamá</option>
                                                        <option value="675">Papua Nueva Guinea</option>
                                                        <option value="595">Paraguay</option>
                                                        <option value="51">Perú</option>
                                                        <option value="689">Polinesia Francesa</option>
                                                        <option value="48">Polonia</option>
                                                        <option value="351">Portugal</option>
                                                        <option value="178">Puerto Rico</option>
                                                        <option value="974">Qatar</option>
                                                        <option value="180">Reino Unido</option>
                                                        <option value="236">República Centroafricana</option>
                                                        <option value="420">República Checa</option>
                                                        <option value="183">República De Sudáfrica</option>
                                                        <option value="184">República Democrática Del Congo (Zaire)</option>
                                                        <option value="185">República Dominicana</option>
                                                        <option value="262">Reunión</option>
                                                        <option value="250">Ruanda</option>
                                                        <option value="40">Rumania</option>
                                                        <option value="189">Rusia</option>
                                                        <option value="192">Saint Kitts (San Cristóbal) y Nevis</option>
                                                        <option value="684">Samoa</option>
                                                        <option value="685">Samoa Occidental</option>
                                                        <option value="378">San Marino</option>
                                                        <option value="194">San Pierre y Miquelon</option>
                                                        <option value="195">San Vicente e Islas Granadinas</option>
                                                        <option value="290">Santa Helena</option>
                                                        <option value="197">Santa Lucía</option>
                                                        <option value="239">Santo Tomé y Príncipe</option>
                                                        <option value="221">Senegal</option>
                                                        <option value="248">Seychelles</option>
                                                        <option value="232">Sierra Leona</option>
                                                        <option value="65">Singapur</option>
                                                        <option value="963">Siria</option>
                                                        <option value="252">Somalia</option>
                                                        <option value="94">Sri Lanka</option>
                                                        <option value="249">Sudán</option>
                                                        <option value="46">Suecia</option>
                                                        <option value="41">Suiza</option>
                                                        <option value="597">Surinam</option>
                                                        <option value="211">Svalbard e Islas Jan Mayen</option>
                                                        <option value="268">Swazilandia</option>
                                                        <option value="66">Tailandia</option>
                                                        <option value="11">Taiwán</option>
                                                        <option value="255">Tanzania</option>
                                                        <option value="992">Tayikistán</option>
                                                        <option value="150">Territorios Británicos Del Océano Indico</option>
                                                        <option value="217">Territorios Franceses Del Sur</option>
                                                        <option value="136">Timor Oriental</option>
                                                        <option value="228">Togo</option>
                                                        <option value="676">Tonga</option>
                                                        <option value="199">Trinidad y Tobago</option>
                                                        <option value="216">Túnez</option>
                                                        <option value="145">Turkmenistán</option>
                                                        <option value="90">Turquía</option>
                                                        <option value="174">Tuvalú</option>
                                                        <option value="380">Ucrania</option>
                                                        <option value="256">Uganda</option>
                                                        <option value="971">Unión De Emiratos Árabes (Emiratos Árabes)</option>
                                                        <option value="598">Uruguay</option>
                                                        <option value="998">Uzbekistán</option>
                                                        <option value="678">Vanuatu</option>
                                                        <option value="58">Venezuela</option>
                                                        <option value="84">Vietnam</option>
                                                        <option value="681">Wallis e Islas Futuna</option>
                                                        <option value="967">Yemén (República Del Yemén)</option>
                                                        <option value="381">Yugoslavia (Federación Yugoslava)</option>
                                                        <option value="260">Zambia</option>
                                                        <option value="263">Zimbabwe</option>
                                                        <option value="999">Invalido</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <br>
                                                    <label for="txtfoto">Foto</label><br>
                                                    <img class="img-thumbnail" width="100" src="static/images/icon/descarga.jpg">
                                                    <input type="file" class="form-control form-control-sm" name="txtfoto"id="txtfoto" value="">
                                                </div>
                                            </div>

                                            <hr>

                                            <p>Ingrese los datos de un familiar en caso de emergencia:</p>

                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <br>
                                                    <label for="txtnombres">Nombres <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtnombres"id="txtnombres" value="" required>
                                                </div>
                                                <div class="col-md-4">
                                                    <br>
                                                    <label for="txtapellidos">Apellidos <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtapellidos"id="txtapellidos" value="" required>
                                                </div>
                                                <div class="col-md-4">
                                                    <br>
                                                    <label for="txtcelularcontacto">Celular <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtcelularcontacto"id="txtcelularcontacto" value="" maxlength="7" required>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-row">
                                                <div class="col-md-auto">
                                                    <button class="btn btn-primary" type="submit" style="float: left">Guardar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="contraseña" role="tabpanel" aria-labelledby="contraseña-tab">
                                        <h3 class="header-title" align="center">Actualizar Contraseña</h3>
                                        <br>

                                        <form class="needs-validation" name="form_perfil" action="/actualizarperfil" id="form_perfil" enctype="multipart/form-data" method="POST" onsubmit="return validarperfil()">

                                            <div class="form-row">
                                                <div class="col-md-3">
                                                    <br>
                                                    <label for="txtcontraseña1">Nueva Contraseña <span style="color: red;">*</span></label>
                                                    <input type="password" class="form-control form-control-sm" name="txtcontraseña1" id="txtcontraseña1" maxlength="13" required>
                                                </div>
                                                <div class="col-md-3">
                                                    <br>
                                                    <label for="txtcontraseña2">Repita Nueva Contraseña <span style="color: red;">*</span></label>
                                                    <input type="password" class="form-control form-control-sm" name="txtcontraseña2" id="txtcontraseña2" maxlength="13" required>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-row">
                                                <div class="col-md-auto">
                                                    <button class="btn btn-primary" type="submit" style="float: left">Guardar</button>
                                                </div>
                                                <div class="col-md-auto">
                                                    <button class="btn btn-default" type="reset" style="float: left">Limpiar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2021. MisiónTIC 2022 - AEROPUERTO TRES DE MAYO.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>

<!-- jquery latest version -->
<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
<!-- bootstrap 4 js -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>

<!-- Start datatable js -->
<script src="{{ url_for('static', filename='js/tables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tables/responsive.bootstrap.min.js') }}"></script>

<!-- select2 js -->
<script src="{{ url_for('static', filename='js/vendor/select2.js') }}"></script>

<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- start zingchart js -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<!-- all line chart activation -->
<script src="{{ url_for('static', filename='js/line-chart.js') }}"></script>
<!-- all pie chart -->
<script src="{{ url_for('static', filename='js/pie-chart.js') }}"></script>
<!-- others plugins -->
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </div>
    </div>
</body>

</html>