<!doctype html>
<html class="no-js" lang="en">

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>P L A V U E</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icon/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/metisMenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
    
        <!-- amchart css -->
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <!-- Start datatable css -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='images/icon/logo3.png') }}"> -->
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/jquery.dataTables.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/responsive.bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables/responsive.jqueryui.min.css') }}">
        <!-- others css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default-css.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
        <!-- modernizr css -->
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    
        <!-- select2 css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/select2.css') }}">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a><img src="static/images/icon/logo3.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active"><a href="../perfiladmin" aria-expanded="true"><i class="ti-user"></i><span>Perfil - Superadmin</span></a></li>
                            <li><a href="../GestionPilotos" aria-expanded="true"><i class="ti-view-list-alt"></i><span>Gestión de Pilotos</span></a></li>
                            <li><a href="../GestionUsuarios" aria-expanded="true"><i class="ti-user"></i><span>Gestión de usuarios</span></a></li>
                            <li><a href="../GestionVuelos" aria-expanded="true"><i class="ti-view-list-alt"></i><span>Gestión de Vuelos</span></a></li>
                            <li><a href="../GestionComentarios" aria-expanded="true"><i class="ti-view-list-alt"></i><span>Gestión de Comentarios</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="static/images/icon/descarga.jpg" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{perfil[5]}}<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../perfiladmin">Perfil</a>
                                <a class="dropdown-item" href="../">Cerrar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <div class="breadcrumbs-area clearfix">
                            <ul class="breadcrumbs pull-left">
                                <li><a href="../perfiladmin">P L A V U E</a></li>
                                <li><span>Perfil</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="row">
                    <div class="col-md-6 col-lg-2 mt-4"><!-- foto de usuario -->
                        <div class="panel-body">
                            <div class="thumb-info mb-md">
                                <img src="static/images/icon/descarga.jpg" class="rounded img-responsive" alt="Foto del usuario">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-10 mt-4"><!-- Tab para formularios -->
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="perfil-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="perfil" aria-selected="true">Perfil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contraseña-tab" data-toggle="tab" href="#contraseña" role="tab" aria-controls="contraseña" aria-selected="false">Cambiar Contraseña</a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-3" id="myTabContent">
                                    <div class="tab-pane fade show active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
                                        <h3 class="header-title" align="center">Información Personal</h3>
                                        <br>
                                        <form class="needs-validation" name="form_perfil_admin" action="/perfiladmin" id="form_perfil_admin" enctype="multipart/form-data" method="POST" >
                                            <div class="form-row">
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtdocumento">Documento <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtdocumento" id="txtdocumento" value="{{perfil[0]}}" >
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="listtipodocumento">Tipo de Documento <span style="color: red;">*</span></label>
                                                    <select class="form-control form-control-sm" name="listtipodocumento" id="listtipodocumento">
                                                        {% for r in tipodocumento %}
                                                            {% if r[0] == perfil[1] %}
                                                                <option value="{{ r[0] }}" selected>{{ r[1] }}</option>
                                                            {% else %}
                                                                <option value="{{ r[0] }}">{{ r[1] }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="listperfil">Perfil <span style="color: red;">*</span></label>
                                                    <select data-plugin-selectTwo class="form-control form-control-sm" name="listperfil" id="listperfil">
                                                        {% for r in tipoperfil %}
                                                            {% if r[0] == perfil[3] %}
                                                            <option value="{{ r[0] }}" selected>{{ r[1] }}</option>
                                                            {% else %}
                                                            <option value="{{ r[0] }}">{{ r[1] }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="listestado">Estado <span style="color: red;">*</span></label>
                                                    <select data-plugin-selectTwo class="form-control form-control-sm" name="listestado" id="listestado">
                                                        {% for r in estado %}
                                                            {% if r[0] == perfil[4] %}
                                                        <option value="{{ r[0] }}" selected>{{ r[1] }}</option>
                                                            {% else %}
                                                        <option value="{{ r[0] }}">{{ r[1] }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <br>
                                                    <label for="txtprimernombre">Nombre completo<span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtnombre" id="txtnombre" value="{{perfil[5]}}" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <br>
                                                    <label for="txtcorreo">Correo <span style="color: red;">*</span></label>
                                                    <input type="email" class="form-control form-control-sm" name="txtcorreo"id="txtcorreo" value="{{perfil[6]}}" maxlength="100" >
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtfechanacimiento">Fecha de Nacimiento <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtfechanacimiento" id="txtfechanacimiento" language="es" data-plugin-datepicker value="{{perfil[7]}}" required>
                                                </div>
                                                <div class="col-lg-2 col-md-3">
                                                    <br>
                                                    <label for="listsexo">Sexo <span style="color: red;">*</span></label>
                                                    <select id="buscador4" class="form-control form-control-sm" name="listsexo" id="listsexo">
                                                        {% for r in sexo %}
                                                            {% if r[0] == perfil[8] %}
                                                        <option value="{{ r[0] }}" selected>{{ r[1] }}</option>
                                                            {% else %}
                                                        <option value="{{ r[0] }}">{{ r[1] }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6">
                                                    <br>
                                                    <label for="txtcelular">Celular <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtcelular"id="txtcelular" value="{{perfil[9]}}" maxlength="20" required>
                                                </div>
                                                <div class="col-md-4">
                                                    <br>
                                                    <label for="listnacionalidad">Nacionalidad <span style="color: red;">*</span></label>
                                                    <select class="form-control form-control-sm" name="listnacionalidad" id="listnacionalidad">
                                                        {% for r in pais %}
                                                            {% if r[0] == perfil[10] %}
                                                                <option value="{{ r[0] }}" selected>{{ r[1] }}</option>
                                                            {% else %}
                                                                <option value="{{ r[0] }}">{{ r[1] }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                
                                                
                                                <div class="col-md-6">
                                                    <br>
                                                    <label for="txtfoto">Foto</label><br>
                                                    <img class="img-thumbnail" width="100" src="static/images/icon/descarga.jpg">
                                                    <input type="file" class="form-control form-control-sm" name="txtfoto"id="txtfoto" value="">
                                                </div>
                                            </div>

                                            <hr>

                                            <p>Ingrese los datos de un familiar en caso de emergencia:</p>

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <br>
                                                    <label for="txtnombres">Nombre completo <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtnombrecon"id="txtnombrecon" value="{{perfil[11]}}" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <br>
                                                    <label for="txtcelularcontacto">Celular <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control form-control-sm" name="txtcelularcon" id="txtcelularcon" value="{{perfil[12]}}" maxlength="20" required>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="btncentrado">
                                                <div class="submit-btn-area">
                                                    <button class="btn btn-primary" type="submit" style="float: left">Guardar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="contraseña" role="tabpanel" aria-labelledby="contraseña-tab">
                                        <h3 class="header-title" align="center">Actualizar Contraseña</h3>
                                        <br>

                                        <form class="needs-validation" name="form_perfil" action="/actualizarperfil" id="form_perfil" enctype="multipart/form-data" method="POST" onsubmit="return validarperfil()">

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <br>
                                                    <label for="txtcontraseña1">Nueva Contraseña <span style="color: red;">*</span></label>
                                                    <input type="password" class="form-control form-control-sm" name="txtcontraseña1" id="txtcontraseña1" maxlength="20" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <br>
                                                    <label for="txtcontraseña2">Repita Nueva Contraseña <span style="color: red;">*</span></label>
                                                    <input type="password" class="form-control form-control-sm" name="txtcontraseña2" id="txtcontraseña2" maxlength="20" required>
                                                </div>
                                            </div>
                                            <br>
                                            <div  class="form-row">
                                                <div class="btncentrado">
                                                    <div class="submit-btn-area">
                                                        <button class="btn btn-primary" type="submit" style="float: left">Guardar</button>
                                                    </div>
                                                </div>
                                                <div class="btncentrado">
                                                    <div class="submit-btn-area">
                                                        <button class="btn btn-default" type="reset" style="float: left">Limpiar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2021. MisiónTIC 2022 - AEROPUERTO TRES DE MAYO.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <script>
        var n_edad = 20;
        document.form_perfil_admin.txtsegundonombre.value = n_edad; 
    </script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src=" {{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
    <!-- Start datatable js -->
    <script src="{{ url_for('static', filename='js/tables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/jquery.dataTables.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/tables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/responsive.bootstrap.min.js') }}"></script>
    
    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{{ url_for('static', filename='js/line-chart.js') }}"></script>
    <!-- all pie chart -->
    <script src="{{ url_for('static', filename='js/pie-chart.js') }}"></script>
    <!-- others plugins -->
    <script src=" {{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
    </div>
    </div>
</body>

</html>