{% extends 'basebuscarvuelo.html' %}

{% block body %}



    
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- extremo del área del precargador -->
    <!-- inicio del área del contenedor de página -->
    <div class="page-container">
        <!-- Inicio del área del menú de la barra lateral -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a><img src="static/images/icon/logo3.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li><a href="../perfilusuario"><i class="ti-user"></i> <span>Perfil</span></a></li>
                            <li><a href="../itinerario"><i class="ti-calendar"></i> <span>Itinerario</span></a></li>
                            <li class="active"><a href="../reservausuario"><i class="ti-ticket"></i> <span>Reserva</span></a></li>
                            <li><a href="calificacionvuelosusuario"><i class="ti-star"></i> <span>Calificación de vuelos</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- final del área del menú de la barra lateral -->
        <!-- inicio del área de contenido principal -->
        <div class="main-content">
            <!-- inicio del área de encabezado -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- botón de navegación y búsqueda -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="static/images/icon/usuariofinal.jpg" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{perfil[6]}}<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../perfilusuario">Perfil</a>
                                <a class="dropdown-item" href="../">Cerrar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-12 mt-5">
                        <div class="breadcrumbs-area clearfix">
                            <ul class="breadcrumbs pull-left">
                                <li><a href="../perfilusuario">P L A V U E</a></li>
                                <li><span>Reserva</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- final del área del título de la página -->
            <div class="main-content-inner">
                <div class="row">
                    <!-- Primary table start -->
                    <div class="col-12 mt-5">
                        <div class="card mt-8">
                            <div class="card-body">
                                <h4 class="header-title" align="center">Confirma tu reserva</h4>
                                <hr>
                                <form class="needs-validation" name="form_perfil" action="/actualizarperfil" id="form_perfil" enctype="multipart/form-data" method="POST" onsubmit="return validarperfil()">
                                    <div class="form-row">
                                        <div class="col-lg-3 col-md-8" style="margin-left:auto; margin-right:auto;">
                                            
                                            <label for="listtipodocumento">Ciudad de origen </label>
                                            <input type="text" class="form-control form-control-sm" name="txtorigen" id="txtorigen" value="" disabled >
                                        </div>
                                        <div class="col-lg-3 col-md-8" style="margin-left:auto; margin-right:auto;">
                                            
                                            <label for="ciudest">Ciudad de destino </label>
                                            <input type="text" class="form-control form-control-sm" name="txtdestino" id="txtdestino" value="" disabled >
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="col-lg-3 col-md-8">
                                            <br>
                                            <label for="listtipodocumento">Seleccione cupo de vuelo </label><br>
                                            <input type="number" name="numpasajeros" id="numpasajeros" step="1" min="0" max="100" class="sunny"><br><br>
                                        </div>
                                        <div class="col-lg-3 col-md-8" style="margin-left:auto; margin-right:auto;">
                                            <br>
                                            <label for="listtipodocumento">Salida</label><br>
                                            <input type="date" name="fechasalida" id="fechasalida"><br><br>
                                        </div>
                                        <div class="col-lg-3 col-md-8" style="margin-left:auto; margin-right:auto;">
                                            <br>
                                            <label for="listtipodocumento">Vuelta</label><br>
                                            <input type="date" name="fechavuelta" id="fechavuelta"><br><br>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="col-lg-3 col-md-8" style="margin-left:auto; margin-right:auto;">
                                            <div class="btncrear">
                                                <div>
                                                    <a class="btn btn-rounded btn-primary mb-3" href="../itinerario" role="button">Confirmar reserva</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-8" style="margin-left:auto; margin-right:auto;">
                                            <div class="btncrear">
                                                <div>
                                                    <a class="btn btn-rounded btn-primary mb-3" href="../itinerario" role="button">Modificar reserva</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </form>
                                </section>
                            </div>
                        </div>
                        <!-- Primary table end -->
                    </div> 
                </div>
            </div>
            <!-- final del área de contenido principal -->
            <!-- inicio del área de pie de página-->
            <footer>
                <div class="footer-area">
                    <p>© Copyright 2021. MisiónTIC 2022 - AEROPUERTO TRES DE MAYO.</p>
                </div>
            </footer>
            <!-- final del área de pie de página-->
    </div>
    <!-- jquery latest version -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
    <!-- bootstrap 4 js -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>

    <!-- Start datatable js -->
    <script src="{{ url_for('static', filename='js/tables/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables/responsive.bootstrap.min.js') }}"></script>

    <!-- select2 js -->
    <script src="{{ url_for('static', filename='js/vendor/select2.js') }}"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{{ url_for('static', filename='js/line-chart.js') }}"></script>
    <!-- all pie chart -->
    <script src="{{ url_for('static', filename='js/pie-chart.js') }}"></script>
    <!-- others plugins -->
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </div>
    </div>
{% endblock %}

